
.social-image {
	width: 30px;
	height: auto;
	margin-right: 15px;
	margin-top: 10px;
}

.twitch {
	margin-top: 20px;
}

.clear {
	clear: both;
}

#chat {
	padding: 0;
	border: 1px solid #101010;
}

.navbar-inverse .nav > li > a.social {
    padding: 0px;
    margin: 0px;    
}

.madNav {
	margin-bottom: 0;
}
