* {
	margin: 0px;
	padding: 0px;
	background-color: #D2D2D8;
}

#header-con {
	background-color: #000;
	width: 100%;
}

#header {
	background-color: #000;
	width: 420px;
	height: 150px;
	position: relative;
	margin: 0px auto;
	font-size: .9em;
}

#logo {
	background-color: #000;
	padding-top: 20px;
	position: relative;
	float: left;
}

#logo a {
	background-color: #000;
}

#logo a img {
	background-color: #000;
	height: 100px;
}

#social {
	background-color: #000;
	padding-top: 75px;
	position: relative;
	float: right;
}

#social img {
	background-color: #000;
	padding-right: 5px;
	height: 15px;
}

#social a {
	background-color: #000;
}

#nav-con {
	background: rgba(25,25,26,0.92);
	width: 100%;
}

#nav {
	width: 420px;
	height: 56px;
	position: relative;
	color: #999;
	font-family: helvetica;
	margin: 0px auto;
	font-size: .9em;
}

#nav ul {
	list-style-type: none;
}

#nav ul li {
	float: left;
	position: relative;
}

#nav ul li a {
	border-right: 1px solid #D2D2D8;
	padding: 20px;
	display: block;
	text-align: center;
	color: #999;
	text-decoration: none;
	background: rgba(25,25,26,0.92);
}

#nav ul li a:hover {
	background: rgba(25,25,26,0.92);
	color: #fff;
}

#nav ul li ul {
	display: none;
}

#nav ul li:hover ul {
	z-index: 1;
	display: block;
	position: absolute;
}

#nav ul li:hover ul li a {
	background: rgba(25,25,26,0.92);
	color: #999;
	display: block;
	border-bottom: 1px solid #D2D2D8;
	border-right: none;
	width: 110px;
	text-align: left;
}

#nav ul li:hover ul li a:hover {
	background: rgba(28,28,30,0.92);
	color: #fff;
}

.top {
	border-top: 1px solid #D2D2D8;
}

.first {
	border-left: 1px solid #D2D2D8;
}

#main-page {
	z-index: 0;
	position: relative;
}

#live-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 20px;
	height: 700px;
}

#live {
	position: relative;
	margin-top: 15px;
	float: left;
	margin-left: 25%;
}

#chat {
	margin-left: 5px;
	margin-top: 15px;
	position: relative;
	float: left;
}